In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelBinarizer
from sklearn.model_selection import train_test_split

from sklearn.svm import SVC


from nltk.corpus import stopwords

In [3]:
data_set = pd.read_csv('dataset.csv')
data_set.head(5)

                                             comment sentiment
0  Oh my god, it just doesn't get any worse than ...  negative
1  If you're a layman interested in quantum theor...  negative
2  It's amazing that this no talent actor Chapa g...  negative
3  This must be one of the most overrated Spanish...  negative
4  Some critics have compared Chop Shop with the ...  positive

In [4]:
data_set.describe()

                                                  comment sentiment
count                                               45000     45000
unique                                              44664         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    4     22501

In [5]:
X = data_set['comment']
Y = data_set['sentiment']


# label binarization
label_binarizer = LabelBinarizer()
Y = label_binarizer.fit_transform(Y)
Y = np.ravel(Y)

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=5)

In [7]:
count_vectorizer = CountVectorizer(lowercase = False, max_features=1000)

In [8]:
cv_X_train = count_vectorizer.fit_transform(X_train)
cv_X_test = count_vectorizer.transform(X_test)

In [ ]:
clf = SVC()
clf.fit(cv_X_train, Y_train)

In [ ]:
Y_test_pred = clf.predict(cv_X_test)

In [ ]:
classification_report(Y_test, Y_test_pred, output_dict=True)